<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu" id="menu" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <menu:menu id="_menu" z="nZaf43BjUg1iM0v70HJVEsXDopc=">
       <!-- <menu:category id="id_tier" z="7UpECgPWS5yHC8NU3PpoW3YDEGo="> -->
        	<!-- 
            <menu:item id="i_tier_new" messageCode="global_menu_new" url="/tiers?form" z="devjiNesQ8PHj241rlnRAtdEFBo="/>
            <menu:item id="i_tier_list" messageCode="global_menu_list" url="/tiers?page=1&amp;size=${empty param.size ? 10 : param.size}" z="pWm+FVwclkOK+ZQcCD4ItRcjx3w="/>
            -->
            <a href="/nst/person?form"> Create Person</a>
        	<a href="/nst/person"> List People</a>
        <!-- </menu:category> -->
    </menu:menu>
</div>
